// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "../var";
@import "bourbon";
@import "neat";

body {
  @include base-font;
}

.filter {
 width:100%;
 height: 100%;
 position:fixed;
 background-color:rgba(0,0,0,0.7);
 top:0px;
 left:0px;
 .box {
    @include outer-container;
    padding-top:130px;
   .box-title {
      @include span-columns(6);
      @include shift(3);
      font-size: 35pt;
   }
   .box-close {
      @include span-columns(2);
      font-size: 25pt;
      cursor:pointer;
   }
   .box-desc {
      @include span-columns(6);
      @include shift(3);
      font-size: 15pt;
   }
   .box-img{
      transform:rotateZ(180deg);
      @include span-columns(6);
      @include shift(3);
      margin-top:20px;
      margin-bottom:40px;
   }
 }
}
.thumbnail {
  width: $thumb-width;
  height: $thumb-height;
  margin: 0px auto;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 7px 7px 0px 0px;
  border-color: black;
}
#status-icon {
    width:20%;
    position:absolute;
    top:0;
    right:0;
}
.projects {
 @include outer-container;
  margin:20px auto;
  width:$solid-width;
  color: #323232;
  h1{
    font-size: 18px;
  }
}
.project {
  background-color: white;
  box-shadow: 0 0 0 1px #c8c8c8;
}
.project-box {
  @include span-columns(3);
  @include omega(4n);
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom:20px;
  position:relative;
  //固定幅
  width:250px;
  height:300px;
  border-radius: 0px 0px 7px 7px;
  box-shadow: 6px 6px 2px #DDD;
  //animation
  transition: 0.1s ease-in-out;
  hr{
    border: 0;
    border-bottom: 2px dashed black;
    background: #fff;
    width:90%;
  }
}
.project-box:hover {
  //box-shadow: 0 0 0 3px #FF8F8F;
  box-shadow: 0 0 0 3px #FF0000;
  border-radius: 7px 7px 7px 7px;
  //box-shadow: 6px 6px 4px #B3B3B3;
}
.selected-project {
  width:250px;
  height:300px;
  //border-color: $hover-color;
  //box-shadow: 0 0 0 3px #FF8F8F;
  box-shadow: 0 0 0 3px #FF0000;
  border-radius: 7px 7px 7px 7px;
  //box-shadow: 6px 6px 2px #B3B3B3;
}
.project-name {
  font-size:17pt;
  //margin-left:$thumb-pad;
  margin-bottom:5px;
  margin-top: 5px;
  height:30px;
  text-align: center;
}
.date {
  width: 50%;
  float: left;
  margin-left:0%;
  margin-bottom: 4px;
  font-size: 12px;
  margin-right: 12px;
}
.user-icon {
  float: left;
  width:$avatar-length;
  height:$avatar-length;
  margin-left:$thumb-pad;
  margin-right:5px;
  border-radius: 100%;
}
.username {
  float: left;
  width: 60%;
  color:$username-color;
  overflow: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  padding-top:4px;
}
.user {
  float: left;
  width: 50%;
}
.description{
  overflow: scroll  ;
  background-color: #EDEDED;
  height: 45px;
  border-radius: 7px 7px 7px 7px;
  //@include thin-font;
  font-size:14px;
  float: left;
  margin-left:$thumb-pad;
  //あまり良くない合わせ方
  margin-right:20px;
  margin-top: 8px;
  color:$gray;
  word-break: break-all;
}
a:active,
a:visited,
a:link {
  color: $white;
  text-decoration: none;
}
active{
  color: black;

}
a:hover {
  color: $brown;
  text-decoration: none;
}
.signIn {
 cursor:pointer;
}
.user {
  text-align: center;
}
ul.actions {
  //border-radius: 5px 5px 5px 5px;
  position:absolute;
  top: 0px;
  left:0px;
  padding:0px;
  margin:0px;
  width:$thumb-width;
  height:0px;

  .selected-action {
    //color: $selected-color ;
    color: red ;
  }
  .action {
      color:$white;

  }
  .action-box {
    background-color: $tp-black;
    //background-color: black;
    list-style: none;
    //margin-bottom: 20px;
    padding-top: 5px;
    .menu2 {
      height: $thumb-height/2;
    }
    .menu3 {
      height: $thumb-height/3;
    }
    .menu4 {
      height: $thumb-height/4;
    }
    .menu5 {
      height: $thumb-height/4.7;
    }
    p{
      margin-top: -7px;
    }
    img {
      width:$action-height * 0.8;
      margin:  $action-height * 0.1;
      margin-bottom: -4px;
    }
    span {
      //position:absolute;
      margin-top:2px;
    }
  }
  .delete {
    a {
      color: $red;
   }
  }
}
.hide {
  display: none;
}
.logo{
  padding: 0;
  //padding-top: 90px;
  //padding-left:38px;
}
